.heading{
    color: blueviolet;
    background-color: blanchedalmond;
}
#para{
    color: green;
    background-color: wheat;
}
.p2{
    color: cadetblue;
    background-color: yellow;
}
#h3{
    color: blueviolet;
    background-color: blanchedalmond;
}
.label{
    color: blue;
}
.op{
    color: green;
}
